@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-container {
    @apply max-w-[1800px] px-[20px] sm:px-[30px] md:px-[40px] 2xl:px-[80px] mx-auto;
  }
  .main-container-no-mobile {
    @apply max-w-[1800px] px-0 sm:px-[30px] md:px-[40px] 2xl:px-[80px] mx-auto;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  /* 3 slide */
  flex: 0 0 100%;
  min-height: 200px;
  min-width: 0;
}
